html {
    background-color: white;
    margin: 0.1rem;
}

/* ----------------------- CABECERA -------------------------------- */

.cabecera {
    display: flex;
    border: 0.2rem solid orangered;
    border-radius: 22px;
    padding: 0.5%;
    height: 1%;
}

.titulo_pagina {
    display: flex;
    padding-left: 10%;
    font-style: italic;
    color: black;
    font-size: 30px;
    align-items: center;
}

.texto_cabecera {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.menus {
    Display: none;
    font-family: "Comic Sans MS", cursive;
    color: orange;
    width: 100%;
}

.menu_text {
    padding-right: 5%;
    padding-left: 5%;
    font-family: "Arial Black", cursive;
    text-decoration: none;
    color: orange;
}

.imagen_cabecera {
    align-content: center;
    margin-left: 5%;
}

.imagen_cabecera_ {
    width: 30%;
}

/* ----------------------- SECCIÓN PRINCIPAL -------------------------------- */

.main_pagina {
    display: flex;
}

.main_section {
    display: flex;
    padding: 0.5%;
}

.seccion_cientificos {
    display: flex;
    width: 100%;
    border: 0.2rem solid orangered;
    border-radius: 22px;
    padding-right: 0.5%;
    background-color: white;
    background-size: 100%;
}

.imagenes_cientifico {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.texto_cientifico {
    width: 85%;
}

.biografia {
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Arial", serif;
    font-size: 17px;
    text-justify: distribute;
}

.foto_cientifico {
    alignment: right;
    width: 100%;
    height: 50%;
    padding: 0.5%
}

.buttons {
    display: none;
    width: 100%;
    justify-content: center;
}

.text_button {
    font-family: "Comic Sans MS", cursive;
    color: black;
    text-decoration: none;
}

.seccion_enlaces {
    display: none;
    width: 20%;
    border: 0.2rem solid orangered;
    border-radius: 22px;
    padding-left: 0.5%;
    background-image: url("cientifico_background.jpg");
    background-size: 100%;
}

.titulo_enlaces {
    align-content: center;
    width: 100%;
    color: darkblue;
}

.enlace {
    font-family: "Comic Sans MS", cursive;
    color: black;
    text-decoration: none;
}

.enlace:hover {
    font-family: "Comic Sans MS", cursive;
    color: purple;
    font-size: 18px;
}

/* ----------------------- PIE PÁGINA -------------------------------- */

.pie_pagina {
    display: flex;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
    border: 0.2rem solid orangered;
    border-radius: 22px;
    padding: 0.5%;
}

.imagenpie {
    width: 7.5%;
    height: 6%;
    padding: 0.5%;
    text-align: right;
}

.texto_pie {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ----------------------- GENERAL -------------------------------- */

body {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 150px;
}

h1 {
    font-size: 25px;
    font-family: "Arial Black", serif;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-family: Calibri, serif;
    text-align: center;
}

h3 {
    font-size: 17px;
    font-family: Calibri, serif;
    text-align: center;
}

button {
    text-align: center;
    background-color: darkgrey;
    width: 15%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 5%;
}

button:hover {
    background-color: green;
    font-family: "Arial Black", serif;
}